In [2]:
import pandas as pd
import numpy as np

# Setting a seed so the "randomness" is the same for both of us
np.random.seed(42)

# Generating 50 rows of dummy data
data = {
    'Order_ID': np.random.choice([1001, 1002, 1003, 1004, 1005], 50),
    'Product': np.random.choice([' LAPTOP', 'Phone', 'Tablet ', 'Headphones', 'Monitor'], 50),
    'Sales_Rep': np.random.choice(['John Doe', 'john doe', 'Jane Smith', 'J. Smith', 'Bob Brown'], 50),
    'Units_Sold': np.random.randint(1, 10, 50),
    'Unit_Price': np.random.choice([1200, 800, 300, 150, 250], 50),
    'Discount_Applied': np.random.choice([0.1, 0.2, 0.0, np.nan], 50)
}

df_electronic = pd.DataFrame(data)

# Injecting some "Real-World" messiness
df_electronic.iloc[0:5, 0] = 9999 # Some weird ID errors
df_electronic.loc[10:15, 'Unit_Price'] = np.nan # Missing prices

In [3]:
df_electronic

    Order_ID     Product   Sales_Rep  Units_Sold  Unit_Price  Discount_Applied
0       9999  Headphones    J. Smith           9       250.0               NaN
1       9999  Headphones    John Doe           7       150.0               NaN
2       9999  Headphones    J. Smith           1       800.0               0.0
3       9999     Monitor    john doe           1       300.0               0.1
4       9999     Tablet     John Doe           9      1200.0               NaN
5       1002      LAPTOP   Bob Brown           9      1200.0               NaN
6       1003  Headphones  Jane Smith           4       150.0               0.2
7       1003       Phone    J. Smith           9       300.0               NaN
8       1003  Headphones  Jane Smith           3       250.0               NaN
9       1005       Phone  Jane Smith           7       300.0               0.2
10      1004       Phone    John Doe           6         NaN               0.0
11      1003  Headphones  Jane Smith           8         NaN               NaN
12      1005     Monitor   Bob Brown           9         NaN               0.2
13      1002       Phone  Jane Smith           5         NaN               0.1
14      1004       Phone    John Doe           1         NaN               0.0
15      1002  Headphones   Bob Brown           3         NaN               0.1
16      1004       Phone    john doe           8       300.0               0.1
17      1005       Phone  Jane Smith           6       300.0               0.2
18      1001  Headphones    John Doe           8       150.0               NaN
19      1004  Headphones    john doe           9       150.0               0.2
20      1002      LAPTOP    john doe           4      1200.0               0.2
21      1005     Monitor    J. Smith           1      1200.0               0.2
22      1004     Monitor   Bob Brown           1       800.0               0.2
23      1001       Phone  Jane Smith           4      1200.0               0.0
24      1001     Monitor    John Doe           7       300.0               NaN
25      1003       Phone    J. Smith           2       150.0               0.1
26      1003      LAPTOP   Bob Brown           3      1200.0               0.1
27      1002  Headphones    J. Smith           1      1200.0               NaN
28      1004  Headphones   Bob Brown           5       800.0               0.1
29      1004  Headphones   Bob Brown           1       800.0               NaN
30      1003     Monitor  Jane Smith           8       300.0               0.1
31      1004      LAPTOP   Bob Brown           1       150.0               0.2
32      1004     Monitor    J. Smith           1       800.0               0.1
33      1001     Monitor   Bob Brown           2      1200.0               NaN
34      1003      LAPTOP  Jane Smith           2       150.0               NaN
35      1005      LAPTOP  Jane Smith           6       150.0               NaN
36      1003      LAPTOP    J. Smith           7      1200.0               NaN
37      1005      LAPTOP    john doe           5       800.0               NaN
38      1001  Headphones    john doe           1      1200.0               0.0
39      1002     Tablet    Bob Brown           1       150.0               0.0
40      1004     Tablet     John Doe           3       250.0               0.1
41      1001      LAPTOP   Bob Brown           2       250.0               NaN
42      1004     Tablet     J. Smith           5       300.0               0.1
43      1002     Tablet     J. Smith           6      1200.0               NaN
44      1002      LAPTOP    J. Smith           7      1200.0               NaN
45      1001     Tablet     J. Smith           4       300.0               0.0
46      1002     Monitor    J. Smith           7       300.0               0.0
47      1005       Phone  Jane Smith           8       300.0               0.2
48      1002       Phone    john doe           1       150.0               0.0
49      1004      LAPTOP    J. Smith           6      1200.0               0.2

In [4]:
               # Name cleanup 
df_electronic['Product'] = df_electronic['Product'].str.strip()
df_electronic['Product'] = df_electronic['Product'].str.capitalize()

df_electronic['Sales_Rep'] = df_electronic['Sales_Rep'].str.strip()

df_electronic['Sales_Rep'] = df_electronic['Sales_Rep'].replace(['john doe','John doe'],'John Doe')
df_electronic['Sales_Rep'] = df_electronic['Sales_Rep'].replace(['J. Smith'],'Jane Smith')

In [24]:
                   # Equivalent of SQL's SELECT Fn
df_electronic[['Product','Unit_Price','Units_Sold']] [df_electronic['Unit_Price'] > 300]
# df_electronic[['Product','Unit_Price']] [df_electronic['Unit_Price'].isna()]

                    # Calculated Revenue, but didn't factor the NaN values
 # df_electronics['Revenue'] = df_electronics['Unit_Price'] * df_electronics['Units_Sold']

       Product  Unit_Price  Units_Sold
2   Headphones         800           1
4       Tablet        1200           9
5       Laptop        1200           9
10       Phone         375           6
12     Monitor         550           9
13       Phone         375           5
14       Phone         375           1
20      Laptop        1200           4
21     Monitor        1200           1
22     Monitor         800           1
23       Phone        1200           4
26      Laptop        1200           3
27  Headphones        1200           1
28  Headphones         800           5
29  Headphones         800           1
32     Monitor         800           1
33     Monitor        1200           2
36      Laptop        1200           7
37      Laptop         800           5
38  Headphones        1200           1
43      Tablet        1200           6
44      Laptop        1200           7
49      Laptop        1200           6

In [22]:
              # Deleting a Column
# df_electronics  = df_electronics.drop('Discount_Applied',axis=1)

In [9]:
                     # Replacing NaN values in Discount column with 0.0
df_electronic['Discount_Applied'] =  df_electronic['Discount_Applied'].fillna(0)

In [10]:
          # Changing the column to int for median calculations
df_electronic['Unit_Price'] = df_electronic['Unit_Price'].astype('Int64')

In [34]:
                   # PRODUCT-SPECIFIC MEDIAN & FILLING RESPECTIVE NaNs WITH THE MEDIAN
phone_median = df_electronic.query('Product == "Phone" ')['Unit_Price'].mean()
df_electronic.loc[(df_electronic['Product'] == "Phone") & (df_electronic['Unit_Price'].isna()), 'Unit_Price'] = phone_median

headphones_median = df_electronic.loc[df_electronic['Product'] == "Headphones", 'Unit_Price'].median()
df_electronic.loc[(df_electronic['Product'] == "Headphones") & (df_electronic['Unit_Price'].isna()), 'Unit_Price'] = headphones_median


monitor_median = df_electronic.loc[df_electronic['Product'] == "Monitor", 'Unit_Price'].median()
df_electronic.loc[(df_electronic['Product'] == "Monitor") & (df_electronic['Unit_Price'].isna()), 'Unit_Price'] = monitor_median

                            # THIS 1 LINE REPLACES ALL MANUAL MEDIAN CALCULATIONS DONE AS ABOVE
# df_electronics['Unit_Price'] = df_electronics['Unit_Price'].fillna( df_electronics.groupby('Product')['Unit_Price'].transform('median'))

                # CALCULATING * ADDING GROSS SALES COLUMN
df_electronic['Gross_Sales'] = df_electronic['Unit_Price'] * df_electronic['Units_Sold']

                     # CALCULATING & ADDING NET REVENUE COLUMN
df_electronic['Net_Revenue'] = df_electronic['Gross_Sales'] * (1- df_electronic['Discount_Applied'])

In [42]:
df_electronic[['Product','Unit_Price']] [df_electronic['Product'] == 'Monitor']

                       # CREATING A DATAFRAME FOR SALES_REPS VS THEIR REVENUE 
rep_perfomance = df_electronic.groupby('Sales_Rep')['Net_Revenue'].sum() 

               # ASSIGNING PROPER Order_IDs 
      # creates a sequence starting at 1001 and ending at 1000 + number_of_rows. 
df_electronic['Order_ID'] = range(1001,1001 + len(df_electronic))

In [43]:
rep_perfomance

Sales_Rep
Bob Brown     26885.0
Jane Smith    61427.5
John Doe      31150.0
Name: Net_Revenue, dtype: Float64

In [49]:
          # CHEECKING DATA INTEGRITY 
df_electronic.nunique()

Order_ID            50
Product              5
Sales_Rep            3
Units_Sold           9
Unit_Price           7
Discount_Applied     3
Gross_Sales         26
Net_Revenue         38
dtype: int64

In [50]:
df_electronic

,Order_ID,Product,Sales_Rep,Units_Sold,Unit_Price,Discount_Applied,Gross_Sales,Net_Revenue
0,1001,Headphones,Jane Smith,9,250,0.0,2250,2250.0
1,1002,Headphones,John Doe,7,150,0.0,1050,1050.0
2,1003,Headphones,Jane Smith,1,800,0.0,800,800.0
3,1004,Monitor,John Doe,1,300,0.1,300,270.0
4,1005,Tablet,John Doe,9,1200,0.0,10800,10800.0
5,1006,Laptop,Bob Brown,9,1200,0.0,10800,10800.0
6,1007,Headphones,Jane Smith,4,150,0.2,600,480.0
7,1008,Phone,Jane Smith,9,300,0.0,2700,2700.0
8,1009,Headphones,Jane Smith,3,250,0.0,750,750.0
9,1010,Phone,Jane Smith,7,300,0.2,2100,1680.0
10,1011,Phone,John Doe,6,375,0.0,2250,2250.0
11,1012,Headphones,Jane Smith,8,250,0.0,2000,2000.0
12,1013,Monitor,Bob Brown,9,550,0.2,4950,3960.0
13,1014,Phone,Jane Smith,5,375,0.1,1875,1687.5
14,1015,Phone,John Doe,1,375,0.0,375,375.0
15,1016,Headphones,Bob Brown,3,250,0.1,750,675.0
16,1017,Phone,John Doe,8,300,0.1,2400,2160.0
17,1018,Phone,Jane Smith,6,300,0.2,1800,1440.0
18,1019,Headphones,John Doe,8,150,0.0,1200,1200.0
19,1020,Headphones,John Doe,9,150,0.2,1350,1080.0
20,1021,Laptop,John Doe,4,1200,0.2,4800,3840.0
21,1022,Monitor,Jane Smith,1,1200,0.2,1200,960.0
22,1023,Monitor,Bob Brown,1,800,0.2,800,640.0
23,1024,Phone,Jane Smith,4,1200,0.0,4800,4800.0
24,1025,Monitor,John Doe,7,300,0.0,2100,2100.0
25,1026,Phone,Jane Smith,2,150,0.1,300,270.0
26,1027,Laptop,Bob Brown,3,1200,0.1,3600,3240.0
27,1028,Headphones,Jane Smith,1,1200,0.0,1200,1200.0
28,1029,Headphones,Bob Brown,5,800,0.1,4000,3600.0
29,1030,Headphones,Bob Brown,1,800,0.0,800,800.0
30,1031,Monitor,Jane Smith,8,300,0.1,2400,2160.0
31,1032,Laptop,Bob Brown,1,150,0.2,150,120.0
32,1033,Monitor,Jane Smith,1,800,0.1,800,720.0
33,1034,Monitor,Bob Brown,2,1200,0.0,2400,2400.0
34,1035,Laptop,Jane Smith,2,150,0.0,300,300.0
35,1036,Laptop,Jane Smith,6,150,0.0,900,900.0
36,1037,Laptop,Jane Smith,7,1200,0.0,8400,8400.0
37,1038,Laptop,John Doe,5,800,0.0,4000,4000.0
38,1039,Headphones,John Doe,1,1200,0.0,1200,1200.0
39,1040,Tablet,Bob Brown,1,150,0.0,150,150.0
40,1041,Tablet,John Doe,3,250,0.1,750,675.0
41,1042,Laptop,Bob Brown,2,250,0.0,500,500.0
42,1043,Tablet,Jane Smith,5,300,0.1,1500,1350.0
43,1044,Tablet,Jane Smith,6,1200,0.0,7200,7200.0
44,1045,Laptop,Jane Smith,7,1200,0.0,8400,8400.0
45,1046,Tablet,Jane Smith,4,300,0.0,1200,1200.0
46,1047,Monitor,Jane Smith,7,300,0.0,2100,2100.0
47,1048,Phone,Jane Smith,8,300,0.2,2400,1920.0
48,1049,Phone,John Doe,1,150,0.0,150,150.0
49,1050,Laptop,Jane Smith,6,1200,0.2,7200,5760.0